/* Element Variables */


// 覆盖 Element Plus 变量
$--el-color-primary: #1890ff;
$--el-color-success: #13ce66;
$--el-color-warning: #FFBA00;
$--el-color-danger: #ff4949;
$--el-color-info: #5d5d5d;
$--el-button-font-weight: 400;
$--el-text-color-regular: #1f2d3d;
$--el-border-color-light: #dfe4ed;
$--el-border-color-lighter: #e6ebf5;
$--el-table-border: 1px solid #dfe6ec;


// 引入 Element Plus 样式
@import '~element-plus/theme-chalk/src/index';